{% include "header.html" %}
            <div class="First-page-full">
                <div class="First-page">
                    <div class="first-page-text">
                        <h1>Prepare Entrance for free</h1>
                        <p>We at Eduhungry provide you with tons of free resources and pratice sets to satisfy your
                            hunger for
                            education</p>
                       <button class="click" id="started">
                        <a href="/signup">
                            <p>GETTING STARTED</p>
                        </a>
                        </button>
                        
                    </div>
                    <div class="img">
                        
                       
<img src="/static/img/VECTOR ART IMAGE.png" alt="My image"/>
                    </div>
                </div>
                <div class="first-page-text-last">
                    <p>WHAT TO LEARN?</p>
                </div>
            </div>
            <div class="second-page-full">
                <div class="second-page-topic">
                    <p>CHOOSE ONE BELOW</p>
                </div>
                <div class="second-page-button">
                    <button type="submit" class="second-page-buttons">
                        <h1>PHYSICS</h1>
                    </button>
                    <button type="submit" class="second-page-buttons">
                        <h1>CHEMISTRY</h1>
                    </button>
                    <button type="submit" class="second-page-buttons">
                        <h1>MATH</h1>
                    </button>
                    <button type="submit" class="second-page-buttons">
                        <h1>ENGLISH</h1>
                    </button>
                </div>
                <div class="second-page-below">
                    <div class="second-page-topic">
                        <p>PRATICE SETS</p>
                    </div>
                    <div class="second-page-second-button">
                        <button type="submit" class="second-page-seconds-buttons1">
                            <h1>IOE-SETS</h1>
                        </button>
                        <button type="submit" class="second-page-seconds-buttons2">
                            <h1>IOM-SETS</h1>
                        </button>
                        <button type="submit" class="second-page-seconds-buttons3">
                            <h1>EMBASSY-SETS</h1>
                        </button>
                    </div>
                </div>
            </div>
       

    </main>
    
    

</body>

</html>